{% extends 'base.html' %}
{% block title %}Create a new blog post {% endblock %}
{% block content %}


{% if user.is_authenticated %}
	<h1>Add Post..</h1>
	<br/>
	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p}}
			<button class="btn btn-secondary">Post</button>
			<a href="{% url 'home' %}" class="btn btn-secondary">
				Back</a>
		</form>
	</div>
	<script>
		var name = "{{ user.id }}";
		document.getElementById("kulkarni").value = name;

	</script>

{% else %}

	Invalid User !

{% endif %}





{% endblock %}