{% extends 'base.html' %}
{% block content %}


<h1>Posts</h1>

<ul>
<small>	
{% for post in object_list %}
	<li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
		- <a href="{% url 'category' post.category %}">{{post.category }}</a>
		- {{ post.author.first_name }} 
		{{ post.author.last_name }}

		{% if user.is_authenticated %}
			-<a href="{% url 'update_post' post.pk %}">(Edit..)</a>
			<a href="{% url 'delete_post' post.pk %}">(Delete)</a>
			-
		{% endif %}
		{{ post.post_date }}
			</a>
	</small></li>
{{ post.body|slice:":500"|safe }}<br/><br/>
{% endfor%}
</ul>

{% endblock %}